* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

hr {
  width: 100%;
  border-color: #1b1b1b;
}

h1,
h2,
h3,
h4,
h5,
span,
li,
p,
a,
details,
form,
input,
textarea,
nav,
ul {
  font-family: "Inter", sans-serif;
}

img {
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

img:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.container {
  height: 100%;
  width: 100%;
}

.scroll-down nav {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.scroll-up nav {
  -webkit-filter: drop-shadow(0 -10px 20px #aaaaaa);
          filter: drop-shadow(0 -10px 20px #aaaaaa);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: fixed;
  z-index: 5;
  padding: 2rem 3rem;
}

nav.sticky {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 9rem;
  background: #75709e;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

nav.sticky ul li a {
  color: white;
}

nav.sticky ul li a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-underline-offset: 30px;
}

nav span {
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

nav ul li {
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 700;
}

nav ul li a {
  color: #fff;
  -webkit-transition: -webkit-filter 0.2s ease;
  transition: -webkit-filter 0.2s ease;
  transition: filter 0.2s ease;
  transition: filter 0.2s ease, -webkit-filter 0.2s ease;
}

nav ul li a:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow: hidden;
}

#introduction {
  background: #0d0d0e;
  position: relative;
  background-image: linear-gradient(91.18deg, #0d0d0e 32.63%, #141416 62.22%);
  width: 100%;
  height: 80vh;
  min-height: 750px;
}

#introduction .redes-socais > a > img {
  margin-left: 10px;
  width: 3rem;
  -webkit-transform: filter 0.2s;
          transform: filter 0.2s;
}

#introduction .redes-socais > a > img:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.projects {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #121214;
  min-height: 75vh;
  width: 100%;
  padding: 100px 150px;
}

.projects > h1 {
  color: #fff;
}

#felipe {
  width: 100%;
  padding: 120px 150px 20px 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #121214;
}

#formacao {
  width: 100%;
  padding: 10px 150px 150px 150px;
  background: #121214;
}

#skills {
  width: 100%;
  padding: 100px 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  background: #0d0d0e;
}

#myself {
  padding: 150px 50px;
  width: 100%;
  background: #0d0d0e;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(166% + 1.3px);
  height: 152px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.wave .shape-fill {
  fill: url(#GradTop);
}

.wave-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wave-bottom svg {
  position: relative;
  display: block;
  width: calc(168% + 1.3px);
  height: 161px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.wave-bottom .shape-fill {
  fill: url(#GradBottom);
}

/* SVG background image via https://haikei.app/ */
.spacer {
  aspect-ratio: 400/50;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("../svgs/blob-scene-haikei-formacao.svg");
}

.containerIntroduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: inherit;
  min-height: 700px;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 100px;
}

.containerIntroduction > img {
  height: 14rem;
}

.containerIntroduction > img:hover {
  -webkit-filter: none;
          filter: none;
}

.containerIntroduction .containerTitle {
  height: 50%;
}

.containerIntroduction .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: 100%;
}

.containerIntroduction .redes-socais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.subtitle h2 {
  background-repeat: repeat;
  font-weight: 700;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(91.18deg, #fff 32.63%, #75709e 62.22%);
  text-align: center;
  text-transform: uppercase;
}

.subtitle span {
  color: #adadad;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}

.subtitle hr {
  margin-top: 0.2rem;
}

.name-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.name-box > span {
  color: #fff;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.div1 {
  width: 2em;
  height: 2em;
  background-color: transparent;
  z-index: 80;
  bottom: 25px;
  position: absolute;
  border-width: 0 0.25em 0.25em 0;
  border-style: solid;
  border-color: antiquewhite;
  -webkit-animation: scrolldown 1.2s ease-in-out infinite 0.15s;
          animation: scrolldown 1.2s ease-in-out infinite 0.15s;
}

.div2 {
  width: 2em;
  height: 2em;
  background-color: transparent;
  z-index: 80;
  bottom: 40px;
  position: absolute;
  border-width: 0 0.25em 0.25em 0;
  border-style: solid;
  border-color: antiquewhite;
  -webkit-animation: scrolldown 1.2s ease-in-out infinite;
          animation: scrolldown 1.2s ease-in-out infinite;
}

.BoxScroll {
  position: relative;
  top: 35%;
}

.BoxScroll .div1,
.BoxScroll .div2 {
  left: 50%;
  -webkit-transform: translateY(0%) rotate(45deg);
          transform: translateY(0%) rotate(45deg);
  opacity: 0;
}

@-webkit-keyframes scrolldown {
  0% {
    -webkit-transform: translateY(20%) rotate(45deg);
            transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: translateY(0%) rotate(45deg);
            transform: translateY(0%) rotate(45deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(20%) rotate(45deg);
            transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
}

@keyframes scrolldown {
  0% {
    -webkit-transform: translateY(20%) rotate(45deg);
            transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
  50% {
    -webkit-transform: translateY(0%) rotate(45deg);
            transform: translateY(0%) rotate(45deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(20%) rotate(45deg);
            transform: translateY(20%) rotate(45deg);
    opacity: 0.7;
  }
}

/* Animation */
.logo {
  text-align: center;
  width: 100%;
}

.logo b {
  font: 600 1.3rem "Inter", sans-serif;
  color: #fee;
  text-shadow: 0 2px 90px, 0 0 2px, 0 0 100px #3f3d56, 0 0 0.5em #ffffff, 0 0 0.1em #ffffff, 0 3px 2px #000;
}

.logo b span {
  font-size: 3.5rem;
  -webkit-animation: blink linear infinite 2s;
          animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2) {
  -webkit-animation: blink linear infinite 3s;
          animation: blink linear infinite 3s;
}

.maincontent-felipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  max-width: 1100px;
}

.maincontent-felipe p {
  font-weight: 500;
  padding: 50px;
  color: #949494;
  font-size: 1.2rem;
  text-align: left;
  border-radius: 20px;
  line-height: 30px;
}

.maincontent-felipe p strong {
  color: #fff;
}

.maincontent-felipe img {
  height: 300px;
  border-radius: 50%;
  border: double 10px transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#282848), to(#3f3d56)), -webkit-gradient(linear, left top, right top, from(#282848), to(#3f3d56));
  background-image: linear-gradient(#282848, #3f3d56), linear-gradient(to right, #282848, #3f3d56);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.name-box > span:first-child {
  font-size: 1.5rem;
  background-repeat: repeat;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(91.18deg, #fff 32.63%, #75709e 62.22%);
  text-align: center;
  text-transform: uppercase;
}

.sub-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}

.sub-name > span {
  font-size: 1rem;
}

span {
  font: 700 2rem "Inter", sans-serif;
}

h1 {
  font-size: 1.8rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subtitle hr {
  border: 1px solid #d6d6d6;
  width: 15rem;
  -webkit-box-shadow: 2px 2px 3px rgba(235, 235, 235, 0.2);
          box-shadow: 2px 2px 3px rgba(235, 235, 235, 0.2);
}

h2 {
  color: #000;
  font-size: 3rem;
  font-weight: bold;
}

.icon {
  height: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
}

.icon path {
  stroke-width: 1;
}

.icon.html path {
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
  stroke: #f55f19;
}

.icon.css path {
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
  stroke: #039ae4;
}

.icon.js path {
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
  stroke: #fed500;
}

.icon.react path {
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
  stroke: #7fdde9;
}

.icon.csharp path {
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
  stroke: #546e79;
}

.icon.java path {
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
  stroke: #3b5fa7;
}

.icon.spring path {
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
  stroke: #8ac24a;
}

.icon path {
  -webkit-animation: animate-icon 3s linear infinite;
          animation: animate-icon 3s linear infinite;
}

@-webkit-keyframes animate-icon {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1560;
  }
  80% {
    stroke-dashoffset: 3120;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 4120;
  }
}

@keyframes animate-icon {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1560;
  }
  80% {
    stroke-dashoffset: 3120;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 4120;
  }
}

.box_cvbutton {
  display: block;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin-top: 3rem;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  margin-right: 1rem;
  overflow: hidden;
  font-weight: bold;
  color: #fff;
  background-image: linear-gradient(225deg, #282848, #3f3d56);
  border-radius: 25px;
  padding: 16px 35px;
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-filter 0.2s ease;
  transition: -webkit-filter 0.2s ease;
  transition: filter 0.2s ease;
  transition: filter 0.2s ease, -webkit-filter 0.2s ease;
}

.btn:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 24px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: linear-gradient(225deg, #afafaf, #b3b3b3);
  z-index: -1;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.cv:before {
  width: 0;
  height: 100%;
}

.cv:hover:before {
  width: 100%;
}

.container-skills h4 {
  padding: 1rem;
  background: #1010107d;
  margin-bottom: 1rem;
}

.main-content-formacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content-formacao > img:hover {
  -webkit-filter: none;
          filter: none;
}

.Container-Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  gap: 1rem;
}

.Container-Card > img {
  height: 27em;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  -ms-grid-rows: 160px 240px 60px;
      grid-template-rows: 160px 240px 60px;
      grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: Inter, sans-serif;
  text-align: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

.card:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card .card-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-image .impacta {
  height: 90%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card-image .senai {
  height: 35%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card-image .tobias {
  height: 35%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  padding: 1rem 2rem;
}

.card .card-text .date {
  font-size: 13px;
}

.card .card-text .date.impacta {
  color: #1b5a7d;
}

.card .card-text .date.senai {
  color: #e30613;
}

.card .card-text .date.tobias {
  color: #00388a;
}

.card .card-text p {
  color: #474747;
  padding: 1.3rem 1rem;
  font-size: 0.95rem;
  font-weight: 300;
  text-align: left;
  width: 100%;
}

.card .card-text p strong {
  color: #383838;
}

.card .card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.card .card-stats {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: stats;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card .card-stats.impacta {
  background: #1b5a7d;
}

.card .card-stats.senai {
  background: #e30613;
}

.card .card-stats.tobias {
  background: #00388a;
}

.card .card-stats .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 10px;
}

.card .card-stats .stat span {
  font-size: 0.875rem;
}

.titleSchool {
  text-align: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  background: #1010107d;
  padding: 1rem 1rem;
  -webkit-box-shadow: 1px 1px 10px rgba(199, 199, 199, 0.35);
          box-shadow: 1px 1px 10px rgba(199, 199, 199, 0.35);
}

.titleSchool hr {
  margin-top: 0.5rem;
}

.maincontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 1rem;
  background: #00000087;
  height: 88%;
}

.maincontent li {
  color: #bebebe;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 1.6rem;
  letter-spacing: 0.03rem;
  line-height: 1.4rem;
}

.maincontent strong {
  color: #fff;
}

div > li {
  font-weight: 500;
  margin-top: 1rem;
}

.infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.6rem;
  padding: 0.8rem 0;
}

.infos img {
  font-size: 0;
  height: 3rem;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  border-radius: 5%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  padding: 1.5rem 0;
}

.container-skills .skills-bar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 31.25rem;
  background: #29292996;
  border-radius: 10px;
  padding: 1rem 2rem;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-filter, -webkit-transform 0.2s ease;
  transition: -webkit-filter, -webkit-transform 0.2s ease;
  transition: filter, transform 0.2s ease;
  transition: filter, transform 0.2s ease, -webkit-filter, -webkit-transform 0.2s ease;
}

.container-skills .skills-bar:hover {
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.skills-bar .bar {
  margin: 20px 0;
}

.skills-bar .bar:first-child {
  margin-top: 0px;
}

.skills-bar .bar .info {
  margin-bottom: 20px;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 0.5rem;
  width: 100%;
  background: #f0f0f0;
  border-radius: 10px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
          animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.skills-bar .bar .progress-line span {
  height: 100%;
  width: 80%;
  background: #6b69af;
  border-radius: 10px;
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: animate 2s 2s cubic-bezier(1, 0, 0.5, 1) forwards;
          animation: animate 2s 2s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@-webkit-keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.bar .progress-line.html span {
  width: 90%;
}

.bar .progress-line.css span {
  width: 75%;
}

.bar .progress-line.js span {
  width: 65%;
}

.bar .progress-line.csharp span {
  width: 65%;
}

.bar .progress-line.react span {
  width: 85%;
}

.bar .progress-line.java span {
  width: 50%;
}

.bar .progress-line.springboot span {
  width: 50%;
}

.bar .progress-line.colaboracao span {
  width: 90%;
}

.bar .progress-line.comu span {
  width: 85%;
}

.bar .progress-line.pressao span {
  width: 85%;
}

.bar .progress-line.flexibilidade span {
  width: 90%;
}

.bar .progress-line.autodidata span {
  width: 85%;
}

.bar .progress-line.port span {
  width: 100%;
}

.bar .progress-line.eng span {
  width: 85%;
}

.bar .progress-line.esp span {
  width: 30%;
}

.bar .progress-line.esp span::after {
  top: 100%;
}

.bar .progress-line.esp span::before {
  top: 0;
}

.bar .progress-line.jap span {
  width: 5%;
}

.bar .progress-line span:before {
  position: absolute;
  content: "";
  right: 0;
  top: -10px;
  height: 0;
  width: 0;
  border: 0.5rem solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
}

.bar .progress-line span:after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 1px 8px;
  background: #000;
  border-radius: 3px;
  opacity: 0;
  -webkit-animation: showText2 0.5s 1.5s linear forwards;
          animation: showText2 0.5s 1.5s linear forwards;
}

@-webkit-keyframes showText2 {
  100% {
    opacity: 1;
  }
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.bar .progress-line.html span::after {
  content: "90%";
}

.bar .progress-line.css span::after {
  content: "75%";
}

.bar .progress-line.js span::after {
  content: "65%";
}

.bar .progress-line.csharp span::after {
  content: "65%";
}

.bar .progress-line.react span::after {
  content: "85%";
}

.bar .progress-line.java span::after {
  content: "50%";
}

.bar .progress-line.springboot span::after {
  content: "50%";
}

.bar .progress-line.colaboracao span::after {
  content: "90%";
}

.bar .progress-line.comu span::after {
  content: "85%";
}

.bar .progress-line.pressao span::after {
  content: "85%";
}

.bar .progress-line.flexibilidade span::after {
  content: "90%";
}

.bar .progress-line.autodidata span::after {
  content: "85%";
}

.bar .progress-line.port span::after {
  content: "100%";
}

.bar .progress-line.eng span::after {
  content: "85%";
}

.bar .progress-line.esp span::after {
  content: "30%";
}

.info > span {
  font-size: 1rem;
  font-weight: 500;
  opacity: 0;
  -webkit-animation: showText 0.5s 1.5s linear forwards;
          animation: showText 0.5s 1.5s linear forwards;
}

@-webkit-keyframes showText {
  100% {
    opacity: 1;
  }
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.project-maincontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.project-maincontent > img {
  float: left;
  height: 20rem;
}

.project-maincontent > img:hover {
  -webkit-filter: none;
          filter: none;
}

.project-maincontent .project-items {
  height: 100%;
  max-width: 1050px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-maincontent .project-items .date {
  color: #fff;
}

.project-maincontent .project-items .box-project {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-maincontent .project-items .project-content {
  color: #fff;
  background: #7777770f;
  border-radius: 10px;
  padding: 3rem;
  margin-bottom: 3rem;
  min-height: 200px;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.project-maincontent .project-items .project-content > img {
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-maincontent .project-items .project-content > img:hover {
  -webkit-filter: none;
          filter: none;
}

.project-maincontent .project-items .project-content:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.project-maincontent .project-items .project-content > div {
  display: block;
  margin-top: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 230px;
}

.project-maincontent .project-items .project-content > div h3 {
  font-size: 2.6rem;
  color: #f3f3f3;
}

.project-maincontent .project-items .project-content > div p {
  font-size: 1.2rem;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #9b9b9b;
}

.project-maincontent .project-items .project-content > div p strong {
  color: #dddddd;
}

.project-maincontent .project-items .project-content > div h4 {
  font-size: 1.2rem;
  text-align: right;
  text-decoration: underline;
  margin-top: 1rem;
}

.project-maincontent .project-items .project-content:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project-maincontent .project-items .project-content.letmeask {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.project-maincontent .project-items .project-content.letmeask:before {
  width: 0;
  height: 100%;
}

.project-maincontent .project-items .project-content.letmeask > div h4 {
  display: none;
}

.project-maincontent .project-items .project-content.letmeask:hover > div h4 {
  display: block;
  text-align: center;
}

.project-maincontent .project-items .project-content.letmeask:hover:before {
  width: 100%;
}

.project-maincontent .project-items .project-content.senai {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.project-maincontent .project-items .project-content.senai > div h4 {
  display: none;
  color: #00000021;
}

.project-maincontent .project-items .project-content.senai:before {
  width: 0;
  height: 100%;
}

.project-maincontent .project-items .project-content.senai:hover > div h4 {
  display: block;
  color: #fff;
  text-align: right;
}

.project-maincontent .project-items .project-content.senai:hover:before {
  width: 100%;
}

.project-maincontent .project-items .project-content.spring {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.project-maincontent .project-items .project-content.spring > div h4 {
  display: none;
}

.project-maincontent .project-items .project-content.spring:before {
  width: 0;
  height: 100%;
}

.project-maincontent .project-items .project-content.spring:hover > div h4 {
  display: block;
  text-align: center;
}

.project-maincontent .project-items .project-content.spring:hover:before {
  width: 100%;
}

.project-maincontent .project-items .project-content .project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.project-maincontent .project-items .project-content .project-title img {
  min-width: none;
  height: 50px;
  width: 70px;
}

.project-maincontent .project-items > img {
  border-radius: 20px;
  min-width: 13rem;
  margin-right: 45px;
}

.linkcontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 140px 0 110px 0;
}

.linkcontact a {
  font-size: 2.5rem;
  margin-top: 2rem;
  font-weight: 700;
  color: #fff;
  -webkit-transition: -webkit-text-decoration 1s ease;
  transition: -webkit-text-decoration 1s ease;
  transition: text-decoration 1s ease;
  transition: text-decoration 1s ease, -webkit-text-decoration 1s ease;
}

.linkcontact a:hover {
  text-decoration: underline;
}

.linkcontact h3 {
  color: #9b9b9b;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.linkcontact h3 strong {
  color: #fff;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.main-contato {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8rem;
  position: relative;
}

.main-contato .profile-svg {
  height: 18rem;
}

.main-contato .profile-svg:hover {
  -webkit-filter: none;
          filter: none;
}

.main-contato .github-pic {
  height: 15rem;
  border-radius: 50%;
}

.current-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
}

.current-work span {
  color: #e1e1e6;
  font-size: 25px;
  font-weight: 600;
}

.current-work p {
  color: #a2a2a7;
  font-size: 1.1rem;
  margin-top: 4rem;
  line-height: 28px;
}

.containerInfos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.containerInfos > div {
  margin-top: 2rem;
}

.containerInfos span {
  color: #a2a2a7;
  font-size: 0.9rem;
  padding: 0rem 1rem;
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
}

.containerInfos span:first-child {
  color: #e1e1e6;
  font-size: 25px;
  font-weight: 800;
}

.containerInfos img {
  width: 2.5rem;
  -webkit-transition: -webkit-filter 0.2s ease;
  transition: -webkit-filter 0.2s ease;
  transition: filter 0.2s ease;
  transition: filter 0.2s ease, -webkit-filter 0.2s ease;
}

.containerInfos img:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.containerInfos .infosAboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  color: #fff;
}

.containerInfos .infosAboutMe li {
  padding-top: 0.5rem;
}

.containerInfos .infoEmail,
.containerInfos .infoLinkedin,
.containerInfos .infoGithub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  -webkit-transition: -webkit-filter 0.2s ease;
  transition: -webkit-filter 0.2s ease;
  transition: filter 0.2s ease;
  transition: filter 0.2s ease, -webkit-filter 0.2s ease;
}

.containerInfos .infoEmail:hover,
.containerInfos .infoLinkedin:hover,
.containerInfos .infoGithub:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form span {
  color: #e1e1e6;
  font-size: 25px;
  padding-top: 0.35rem;
  font-weight: 600;
}

.form form {
  max-width: 400px;
  width: 100%;
  margin: 10px;
  padding: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form form label {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.form form input {
  border: 0;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.form form textarea {
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.form form input[type="submit"] {
  cursor: pointer;
}

footer {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #000;
  gap: 1rem;
}

footer span {
  font-size: 1.2rem;
  color: #888888;
}

footer span:last-child {
  color: #fff;
}

footer span a {
  color: #f5f5f5;
  text-decoration: underline;
}

/* responsive */
@media (max-width: 1920px) {
  .skills-bar {
    width: 31.5rem;
  }
}

@media (max-width: 1800px) {
  html {
    font-size: 92.75%;
  }
}

@media (max-width: 1600px) {
  html {
    font-size: 90.75%;
  }
  .container {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
  }
  section:first-child {
    width: 100%;
    height: 90vh;
  }
  #formacao,
  #skills,
  .projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-text p {
    font-size: 1.3rem;
  }
  .project-maincontent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-maincontent > img {
    display: none;
  }
  .project-maincontent .project-items .project-content {
    padding: 50px;
  }
  .project-maincontent .project-items .project-content > div h3 {
    font-size: 2rem;
  }
  .project-maincontent .project-items .project-content > div p {
    font-size: 1.3rem;
  }
  #items-wrapper #items .item .ProjectsContent {
    padding: 100px 30px;
  }
  #items-wrapper #items .item .ProjectsContent h1 {
    font-size: 2rem;
  }
  #items-wrapper #items .item .ProjectsContent p {
    font-size: 1.3rem;
  }
  .containerInfos li {
    font-size: 1.4rem;
  }
  .containerInfos img {
    width: 3rem;
  }
  .containerInfos span {
    font-size: 1.1rem;
  }
  #introduction,
  #skills {
    padding: 100px;
  }
  .skills-bar {
    width: 28rem;
  }
}

@media (max-width: 1280px) {
  .containerIntroduction > img {
    display: none;
  }
  .maincontent-felipe > img {
    display: none;
  }
  .project-content > img {
    display: none;
  }
  .current-work p {
    font-size: 1.3rem;
  }
  nav {
    display: none;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 80.75%;
  }
  h2 {
    font-size: 2.5rem;
  }
  section:first-child {
    width: 100%;
    height: 85vh;
  }
  .box_cvbutton {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
  }
  #indroduction,
  #skills,
  .projects {
    padding: 50px;
  }
  #felipe {
    width: 100%;
    padding: 100px 10px 10px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #121214;
  }
  .containerIntroduction .name-box > span {
    font-size: 2.3rem;
  }
  .containerIntroduction .logo b span {
    font-size: 3rem;
  }
  .main-content-formacao > img {
    display: none;
  }
  #items-wrapper {
    width: 85vw;
  }
  .box_cvbutton {
    top: 20%;
    gap: 0.5rem;
  }
  .box_cvbutton .btn {
    font-size: 1rem;
  }
  .subtitle {
    text-align: center;
  }
  .subtitle span {
    font-size: 1.3rem;
  }
  .card .card-stats .stat span {
    font-size: 1.3rem;
  }
  .card .card-text p {
    font-size: 1.3rem;
  }
  .timeline-content p {
    font-size: 1.2rem;
  }
  .skills-bar {
    width: 17rem;
  }
  .timeline-items::before {
    left: 5px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 18px;
  }
  .timeline-dot {
    left: 0;
  }
  .profile-svg {
    display: none;
  }
}

@media (max-width: 570px) {
  html {
    font-size: 78.75%;
  }
  .container .containerIntroduction,
  .container-skills {
    padding: 10px;
  }
  .projects {
    padding: 20px;
  }
  #items-wrapper {
    width: 80vw;
  }
  #items-wrapper #items .item .ProjectsContent {
    padding: 30px 15px 180px 15px;
  }
  #items-wrapper #items .item .ProjectsContent h1 {
    font-size: 1.8rem;
  }
  #items-wrapper #items .item .ProjectsContent p {
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=style.css.map */