* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
span,
li,
p,
a,
details {
  font-family: "Inter", sans-serif;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section:first-child {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #101113), color-stop(22%, rgba(16, 17, 19, 0.9)), color-stop(37%, rgba(16, 17, 19, 0.8)), color-stop(67%, rgba(16, 17, 19, 0.9)), color-stop(98%, #101113));
  background: linear-gradient(#101113 5%, rgba(16, 17, 19, 0.9) 22%, rgba(16, 17, 19, 0.8) 37%, rgba(16, 17, 19, 0.9) 67%, #101113 98%);
}

#introduction footer > a > img {
  margin-left: 10px;
  width: 3rem;
}

#projetos {
  scroll-snap-align: start;
  padding: 100px;
}

.timeline-section {
  scroll-snap-align: start;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(16, 17, 19, 0.888)), color-stop(25%, rgba(0, 0, 0, 0.6)), color-stop(37%, rgba(0, 0, 0, 0.6)), color-stop(67%, rgba(0, 0, 0, 0.541)));
  background: linear-gradient(rgba(16, 17, 19, 0.888) 5%, rgba(0, 0, 0, 0.6) 25%, rgba(0, 0, 0, 0.6) 37%, rgba(0, 0, 0, 0.541) 67%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#formacao {
  scroll-snap-align: start;
  padding: 100px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(16, 17, 19, 0.8)), color-stop(25%, #101113), color-stop(37%, #101113), color-stop(67%, #101113));
  background: linear-gradient(rgba(16, 17, 19, 0.8) 5%, #101113 25%, #101113 37%, #101113 67%);
}

#skills {
  scroll-snap-align: start;
  padding: 100px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(16, 17, 19, 0.8)), color-stop(20%, #101113), color-stop(92%, #101113), color-stop(93%, rgba(16, 17, 19, 0.888)));
  background: linear-gradient(rgba(16, 17, 19, 0.8) 5%, #101113 20%, #101113 92%, rgba(16, 17, 19, 0.888) 93%);
}

#myself {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-snap-align: start;
  padding: 50px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, black), color-stop(90%, rgba(16, 17, 19, 0.877)));
  background: linear-gradient(black 1%, rgba(16, 17, 19, 0.877) 90%);
}

.paralax {
  background-image: url("../images/star4.jpg");
  min-height: 100%;
  position: relative;
  /* opacity: 0.65; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow: y;
}

.containerIntroduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  width: 100%;
  margin-bottom: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerIntroduction .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: absolute;
  width: 100%;
}

.containerIntroduction footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  margin-top: 15rem;
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.subtitle h2 {
  color: #fff;
}

.subtitle span {
  color: #f1b549bf;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}

.subtitle hr {
  margin-top: 0.2rem;
}

.timeline-section .subtitle h1 {
  color: #fff;
}

.name-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.name-box > span {
  color: #fff;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.name {
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
.anim-typewriter {
  -webkit-animation: typewriter 2s steps(44) 1s 1 normal both, blinkTextCursor 700ms steps(44) infinite normal;
          animation: typewriter 2s steps(44) 1s 1 normal both, blinkTextCursor 700ms steps(44) infinite normal;
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 10em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 10em;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.name-box > span:first-child {
  font-size: 1.5rem;
  color: #ffa500;
}

.sub-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}

.sub-name > span {
  font-size: 1rem;
}

span {
  font: 700 2rem "Inter", sans-serif;
}

h1 {
  font-size: 1.8rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

hr {
  border: 1px solid #d6d6d6;
  width: 30%;
  -webkit-box-shadow: 2px 2px 3px rgba(235, 235, 235, 0.2);
          box-shadow: 2px 2px 3px rgba(235, 235, 235, 0.2);
}

h2 {
  color: #000;
  font-size: 2.2rem;
  font-weight: bold;
}

.icon {
  height: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
}

.icon path {
  stroke-width: 1;
}

.icon.html path {
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
  stroke: #f55f19;
}

.icon.css path {
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
  stroke: #039ae4;
}

.icon.js path {
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
  stroke: #fed500;
}

.icon.react path {
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
  stroke: #7fdde9;
}

.icon.csharp path {
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
  stroke: #546e79;
}

.icon.java path {
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
  stroke: #3b5fa7;
}

.icon.spring path {
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
  stroke: #8ac24a;
}

.icon path {
  -webkit-animation: animate-icon 3s linear infinite;
          animation: animate-icon 3s linear infinite;
}

@-webkit-keyframes animate-icon {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1560;
  }
  80% {
    stroke-dashoffset: 3120;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 4120;
  }
}

@keyframes animate-icon {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1560;
  }
  80% {
    stroke-dashoffset: 3120;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 4120;
  }
}

.box_cvbutton {
  display: block;
  text-align: center;
  margin-top: 1rem;
  padding: 2rem 0;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-right: 1rem;
  overflow: hidden;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  padding: 20px 35px;
  position: relative;
  border: 2px solid #f55f19;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #f55f19;
  z-index: -1;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.cv:before {
  width: 0;
  height: 100%;
}

.cv:hover:before {
  width: 100%;
}

.container-skills h4 {
  padding: 1rem;
  background: #1010107d;
  margin-bottom: 1rem;
}

.Container-Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  -ms-grid-rows: 210px 210px 80px;
      grid-template-rows: 210px 210px 80px;
      grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background: white;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: Inter, sans-serif;
  text-align: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

.card:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card .card-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-image .impacta {
  height: 90%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card-image .senai {
  height: 35%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card-image .tobias {
  height: 35%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  padding: 1rem 2rem;
}

.card .card-text .date {
  font-size: 13px;
}

.card .card-text .date.impacta {
  color: #1b5a7d;
}

.card .card-text .date.senai {
  color: #e30613;
}

.card .card-text .date.tobias {
  color: #00388a;
}

.card .card-text p {
  color: grey;
  margin-top: .5rem;
  font-size: .895rem;
  font-weight: 300;
  text-align: left;
  width: 100%;
}

.card .card-text p strong {
  color: #494949;
}

.card .card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.card .card-stats {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: stats;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card .card-stats.impacta {
  background: #1b5a7d;
}

.card .card-stats.senai {
  background: #e30613;
}

.card .card-stats.tobias {
  background: #00388a;
}

.card .card-stats .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 10px;
}

.card .card-stats .stat span {
  font-size: .875rem;
}

.titleSchool {
  text-align: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  background: #1010107d;
  padding: 1rem 1rem;
  -webkit-box-shadow: 1px 1px 10px rgba(199, 199, 199, 0.35);
          box-shadow: 1px 1px 10px rgba(199, 199, 199, 0.35);
}

.titleSchool hr {
  margin-top: 0.5rem;
}

.maincontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 1rem;
  background: #00000087;
  height: 88%;
}

.maincontent li {
  color: #bebebe;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 1.6rem;
  letter-spacing: 0.03rem;
  line-height: 1.4rem;
}

.maincontent strong {
  color: #fff;
}

div > li {
  font-weight: 500;
  margin-top: 1rem;
}

.infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.6rem;
  padding: 0.8rem 0;
}

.infos img {
  font-size: 0;
  height: 3rem;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  border-radius: 5%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
  max-width: 1368px;
  padding: 1.5rem 0;
}

.container-skills .skills-bar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 31.25rem;
  background: #29292996;
  border-radius: 10px;
  padding: 1rem 2rem;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-filter, -webkit-transform 0.2s ease;
  transition: -webkit-filter, -webkit-transform 0.2s ease;
  transition: filter, transform 0.2s ease;
  transition: filter, transform 0.2s ease, -webkit-filter, -webkit-transform 0.2s ease;
}

.container-skills .skills-bar:hover {
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.skills-bar .bar {
  margin: 20px 0;
}

.skills-bar .bar:first-child {
  margin-top: 0px;
}

.skills-bar .bar .info {
  margin-bottom: 20px;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 0.5rem;
  width: 100%;
  background: #f0f0f0;
  border-radius: 10px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
          animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.skills-bar .bar .progress-line span {
  height: 100%;
  width: 80%;
  background: #f55f19;
  border-radius: 10px;
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: animate 2s 2s cubic-bezier(1, 0, 0.5, 1) forwards;
          animation: animate 2s 2s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@-webkit-keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.bar .progress-line.html span {
  width: 90%;
}

.bar .progress-line.css span {
  width: 75%;
}

.bar .progress-line.js span {
  width: 65%;
}

.bar .progress-line.csharp span {
  width: 65%;
}

.bar .progress-line.react span {
  width: 85%;
}

.bar .progress-line.java span {
  width: 50%;
}

.bar .progress-line.springboot span {
  width: 50%;
}

.bar .progress-line.colaboracao span {
  width: 90%;
}

.bar .progress-line.comu span {
  width: 85%;
}

.bar .progress-line.pressao span {
  width: 85%;
}

.bar .progress-line.flexibilidade span {
  width: 90%;
}

.bar .progress-line.autodidata span {
  width: 85%;
}

.bar .progress-line.port span {
  width: 100%;
}

.bar .progress-line.eng span {
  width: 85%;
}

.bar .progress-line.esp span {
  width: 30%;
}

.bar .progress-line.esp span::after {
  top: 100%;
}

.bar .progress-line.esp span::before {
  top: 0;
}

.bar .progress-line.jap span {
  width: 5%;
}

.bar .progress-line span:before {
  position: absolute;
  content: "";
  right: 0;
  top: -10px;
  height: 0;
  width: 0;
  border: 0.5rem solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
}

.bar .progress-line span:after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 1px 8px;
  background: #000;
  border-radius: 3px;
  opacity: 0;
  -webkit-animation: showText2 0.5s 1.5s linear forwards;
          animation: showText2 0.5s 1.5s linear forwards;
}

@-webkit-keyframes showText2 {
  100% {
    opacity: 1;
  }
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.bar .progress-line.html span::after {
  content: "90%";
}

.bar .progress-line.css span::after {
  content: "75%";
}

.bar .progress-line.js span::after {
  content: "65%";
}

.bar .progress-line.csharp span::after {
  content: "65%";
}

.bar .progress-line.react span::after {
  content: "85%";
}

.bar .progress-line.java span::after {
  content: "50%";
}

.bar .progress-line.springboot span::after {
  content: "50%";
}

.bar .progress-line.colaboracao span::after {
  content: "90%";
}

.bar .progress-line.comu span::after {
  content: "85%";
}

.bar .progress-line.pressao span::after {
  content: "85%";
}

.bar .progress-line.flexibilidade span::after {
  content: "90%";
}

.bar .progress-line.autodidata span::after {
  content: "85%";
}

.bar .progress-line.port span::after {
  content: "100%";
}

.bar .progress-line.eng span::after {
  content: "85%";
}

.bar .progress-line.esp span::after {
  content: "30%";
}

.info > span {
  font-size: 1rem;
  font-weight: 500;
  opacity: 0;
  -webkit-animation: showText 0.5s 1.5s linear forwards;
          animation: showText 0.5s 1.5s linear forwards;
}

@-webkit-keyframes showText {
  100% {
    opacity: 1;
  }
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.timeline-section {
  padding: 100px;
}

.timeline-section > h1 {
  color: #fff;
}

.timeline-items {
  max-width: 62.5rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin-top: 2rem;
}

.timeline-items:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #fff;
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.timeline-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-item details {
  color: #fff;
  margin-top: 1rem;
}

.timeline-dot {
  height: 16px;
  width: 16px;
  background-color: #eaa023;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date > span {
  font-size: 18px;
  color: #eaa023;
}

.timeline-content {
  background-color: #292929e0;
  padding: 30px;
  border-radius: 5px;
  -webkit-transition: -webkit-filter 0.2s ease;
  transition: -webkit-filter 0.2s ease;
  transition: filter 0.2s ease;
  transition: filter 0.2s ease, -webkit-filter 0.2s ease;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.34);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.34);
}

.timeline-content:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.timeline-content span:last-child {
  margin-top: 1rem;
}

.timeline-content h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  color: #ffffff;
  margin: 0 0 15px;
  text-transform: capitalize;
  font-weight: 500;
}

.timeline-content p {
  color: #c8c8c8;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
}

.timeline-content span {
  display: block;
  color: #fff;
  font-size: 1.1rem;
}

.timeline-content .btn-languages {
  border: 0;
  background: transparent;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.containerInfos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 5rem;
  padding-bottom: 1.3rem;
}

.containerInfos span {
  color: #757575;
  font-size: 0.9rem;
  padding: 0rem 1rem;
}

.containerInfos img {
  width: 2rem;
}

.containerInfos .infosAboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  color: #fff;
}

.containerInfos .infosAboutMe li {
  padding-top: 0.5rem;
}

.containerInfos .infoEmail,
.containerInfos .infoLinkedin,
.containerInfos .infoGithub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

/* responsive */
@media (max-width: 1920px) {
  .skills-bar {
    width: 31.5rem;
  }
}

@media (max-width: 1800px) {
  html {
    font-size: 92.75%;
  }
}

@media (max-width: 1600px) {
  html {
    font-size: 90.75%;
  }
  #formacao, #skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #formacao,
  #skills,
  .timeline-section {
    padding: 100px;
  }
  .timeline-section {
    min-height: 100vh;
  }
  .skills-bar {
    width: 28rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 80.75%;
  }
  .containerIntroduction .name-box > span {
    font-size: 2.5rem;
  }
  .skills-bar {
    width: 17rem;
  }
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .timeline-dot {
    left: 0;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 78.75%;
  }
}
/*# sourceMappingURL=style.css.map */