* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

h1, h2, h3, h4, h5, span, li, p {
    font-family: 'Inter', sans-serif;
}

section:first-child {
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
}

.paralax {
    background-image: url("./images/star4.jpg");
    min-height: 100%;
    position: relative;
    /* opacity: 0.65; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 30%;
}

.subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    padding: 2rem 0;
}

.subtitle hr {
    margin-top: 1rem;
}

.timeline-section .subtitle h1 {
    color: #fff;
}

.name-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.name-box>span {
    color: #fff;
    font-size: 3rem;
    letter-spacing: .5rem;
}

.name {
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */

.anim-typewriter {
    animation: typewriter 2s steps(44) 1s 1 normal both, blinkTextCursor 700ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 10em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}

.name-box>span:first-child {
    font-size: 1.5rem;
    color: #ffa500;
}

.sub-name {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.sub-name>span {
    font-size: 1rem;
}

span {
    font: 700 2rem 'Inter', sans-serif;
}

#introduction footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    top: 50%;
}

#introduction footer>a>img {
    margin-left: 10px;
    width: 4rem;
}

#introduction #linkedinImg {
    margin-left: 10px;
    width: 4rem;
}

#projetos {
    background: #101010;
}

#formacao {
    background: #f9f9f9;
    height: 100%;
}

#skills {
    height: 100%;
}

#myself {
    height: 100%;
    background: #f2f2f2;
}

h1 {
    font-size: 1.4rem;
    color: #000;
    display: flex;
    justify-content: center;
}

hr {
    border: 1px solid rgb(214, 214, 214);
    display: flex;
    margin: 0 auto;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(235, 235, 235, 0.2);
}

h2 {
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
}

h4 {
    margin-bottom: 1rem;
}

.containerFormacao {
    display: flex;
    height: 48vh;
}

.container-EnsinoMedioSenai {
    flex: 6;
    height: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 1.8rem;
}

.ensino-content {
    display: flex;
    flex-direction: column;
    min-height: 24rem;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 1.3rem 1.8rem;
}

.maincontent {
    display: flex;
    flex-direction: column;
}

.maincontent li {
    font-size: .9rem;
}

.infos {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.infos>span {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    align-items: center;
}

.infos>img {
    font-size: 0;
    height: 5.5rem;
    width: 7rem;
    border-radius: .5rem;
}

.infos>#tobiasImg {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: .5rem;
}

div>li {
    font-weight: 500;
    margin-top: 1rem;
}

#liEscola {
    margin-top: 1rem;
}

.container-skills {
    display: flex;
}

.skills-bar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 31.25rem;
    background: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.skills-bar .bar {
    margin: 20px 0;
}

.skills-bar .bar:first-child {
    margin-top: 0px;
}

.skills-bar .bar .info {
    margin-bottom: 5px;
}

.skills-bar .bar .progress-line {
    position: relative;
    height: .5rem;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0, 0.05, 0, 0.05), 0px 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.skills-bar .bar .progress-line span {
    height: 100%;
    width: 80%;
    background: #f55f19;
    border-radius: 10px;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 2s 2s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1)
    }
}

.bar .progress-line.html span {
    width: 90%;
}

.bar .progress-line.css span {
    width: 75%;
}

.bar .progress-line.js span {
    width: 65%;
}

.bar .progress-line.csharp span {
    width: 65%;
}

.bar .progress-line.react span {
    width: 85%;
}

.bar .progress-line.java span {
    width: 50%;
}

.bar .progress-line.springboot span {
    width: 50%;
}

.bar .progress-line.colaboracao span {
    width: 90%;
}

.bar .progress-line.comu span {
    width: 85%;
}

.bar .progress-line.pressao span {
    width: 85%;
}

.bar .progress-line.flexibilidade span {
    width: 90%;
}

.bar .progress-line.autodidata span {
    width: 85%;
}

.bar .progress-line.port span {
    width: 100%;
}

.bar .progress-line.eng span {
    width: 85%;
}

.bar .progress-line.esp span {
    width: 30%;
}

.bar .progress-line.jap span {
    width: 5%;
}

.bar .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: .5rem solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
}

.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 1px 8px;
    background: #000;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.bar .progress-line.html span::after {
    content: "90%";
}

.bar .progress-line.css span::after {
    content: "75%";
}

.bar .progress-line.js span::after {
    content: "65%";
}

.bar .progress-line.csharp span::after {
    content: "65%";
}

.bar .progress-line.react span::after {
    content: "85%";
}

.bar .progress-line.java span::after {
    content: "60%";
}

.bar .progress-line.springboot span::after {
    content: "60%";
}

.bar .progress-line.colaboracao span::after {
    content: "90%";
}

.bar .progress-line.comu span::after {
    content: "85%";
}

.bar .progress-line.pressao span::after {
    content: "85%";
}

.bar .progress-line.flexibilidade span::after {
    content: "90%";
}

.bar .progress-line.autodidata span::after {
    content: "85%";
}

.bar .progress-line.port span::after {
    content: "100%";
}

.bar .progress-line.eng span::after {
    content: "85%";
}

.bar .progress-line.esp span::after {
    content: "30%";
}

.info>span {
    font-size: 1rem;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 1.5s linear forwards;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.timeline-section>h1 {
    color: #fff;
}

.timeline-section {
    background-color: #101010;
    min-height: 90vh;
}

.timeline-items {
    max-width: 62.5rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #fff;
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: #eaa023;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date>span {
    font-size: 18px;
    color: #eaa023;
}

.timeline-content {
    background-color: #292929;
    padding: 30px;
    border-radius: 5px;
    transition: filter 0.2s;
}

.timeline-content:hover {
    filter: brightness(0.8);
}

a {
    cursor: pointer;
    text-decoration: none;
}

.timeline-content h3 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #ffffff;
    margin: 0 0 15px;
    text-transform: capitalize;
    font-weight: 500;
}

.timeline-content p {
    color: #c8c8c8;
    font-size: .9rem;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
}

.containerInfos {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5rem;

    padding-bottom: 1.3rem;
}

.containerInfos span {
    color: #757575;
    font-size: .9rem;
    padding: 0rem 1rem;
}

.containerInfos img {
    width: 2rem;
}

.containerInfos .infosAboutMe {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.containerInfos>.infosAboutMe li {
    padding-top: .5rem;
}

.containerInfos .infoTel, .infoEmail, .infoLinkedin, .infoGithub {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

/* responsive */

@media (max-width: 1920px) {
    #skills {
        height: 100vh;
    }
    .skills-bar {
        width: 31.5rem;
    }
}

@media (max-width: 1800px) {
    #skills {
        height: 100vh;
    }
    html {
        font-size: 92.75%;
    }
    .ensino-content {
        padding: .5rem 1.8rem;
    }
}

@media (max-width: 1600px) {
    #skills {
        height: 100vh;
    }

    #formacao{
        height: 70vh;
    }

    html {
        font-size: 90.75%;
    }

    .timeline-section {
        min-height: 100vh;
    }

    .skills-bar .bar {
        margin: 15px 0;
    }

    .container-skills {
        display: flex;
        height: 80%;
    }

    .skills-bar {
        width: 28rem;
    }
    .ensino-content {
        min-height: 25rem;
        padding: .3rem 1.8rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 80.75%;
    }

    #formacao{
        height: 65vh;
    }

    .ensino-content {
        min-height: 28rem;
    }

    .skills-bar {
        width: 17rem;
    }
    .timeline-items::before {
        left: 7px;
    }
    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd), .timeline-item:nth-child(even) {
        padding-left: 37px;
    }
    .timeline-dot {
        left: 0;
    }
}

@media (max-width: 500px) {

    .maincontent li {
        text-align: left;
    }

    .ensino-content {
        min-height: 30rem;
    }
    html {
        font-size: 76.75%;
    }
    .ensino-content {
        padding: .2rem 1.8rem;
    }
}