* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

h1, h2, h3, h4, h5, span, li {
    font-family: 'Inter', sans-serif;
}

section {
    width: 100%;
    height: 100vh;
}

.paralax {
    background-image: url("./images/star4.jpg");
    min-height: 100%;
    position: relative;
    /* opacity: 0.65; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 30%;
}

.name-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.name-box>span {
    color: #fff;
    font-size: 3rem;
    letter-spacing: .5rem;
}

.name-box>span:first-child {
    font-size: 1.5rem;
    color: #ffa500;
}

.sub-name {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.sub-name>span {
    font-size: 1rem;
}

span {
    font: 700 2rem 'Inter', sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    top: 50%;
}

footer>a>img {
    margin: 0 auto;
    padding: 0;
    width: 4rem;
}

#linkedinImg {
    margin: 0 auto;
    padding: 0;
    width: 7rem;
}

#projetos {
    background: #242424;
}

#formacao {
    background: #f2f2f2;
    height: 75vh;
}

h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.8rem;
    color: #000;
    display: flex;
    justify-content: center;
}

hr {
    display: flex;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 3rem;
}

h2 {
    color: #000;
}

h4 {
    margin-bottom: 1rem;
}

.containerFormacao {
    display: flex;
    height: 75vh;
}

.container-EnsinoMedioSenai {
    flex: 6;
    display: flex;
    flex-direction: column;
    padding: 0 1.8rem;
}

.ensino-content {
    display: flex;
    flex-direction: column;
    min-height: 27rem;

    background: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 1rem;
    padding: 2rem 1.8rem;
}

.maincontent {
    display: flex;
    flex-direction: column;
}

.infos {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.infos>span {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    align-items: center;
}

.infos>img {
    width: 10rem;
    border-radius: .5rem;
}

.infos>#tobiasImg {
    padding-top: 1rem;
    width: 5rem;
    height:6rem;
    border-radius: .5rem;
}

div > li {
    font-weight: 500;
    margin-top: 1rem;
}

#liEscola {
    margin-top: 1rem;
}

.container-skills {
    display: flex;

}

.skills-bar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    width: 31.25rem;
    background: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.skills-bar .bar {
    margin: 20px 0;
}

.skills-bar .bar:first-child {
    margin-top: 0px;
}

.skills-bar .bar .info{
    margin-bottom: 5px;
}

.skills-bar .bar .progress-line {
    position: relative;
    height: .5rem;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0, 0.05, 0,0.05),
                        0px 1px rgba(255, 255, 255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.skills-bar .bar .progress-line span {
    height: 100%;
    width: 80%;
    background: #f55f19;
    border-radius: 10px;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 2s 2s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1)
    }
}

.bar .progress-line.html span {
    width: 90%;
}.bar .progress-line.css span {
    width: 75%;
}.bar .progress-line.js span {
    width: 65%;
}.bar .progress-line.csharp span {
    width: 65%;
}.bar .progress-line.react span {
    width: 85%;
}.bar .progress-line.java span {
    width: 50%;
}.bar .progress-line.springboot span {
    width: 50%;
}

.bar .progress-line.colaboracao span {
    width: 90%;
}.bar .progress-line.comu span {
    width: 85%;
}.bar .progress-line.pressao span {
    width: 85%;
}.bar .progress-line.flexibilidade span {
    width: 90%;
}.bar .progress-line.autodidata span {
    width: 85%;
}

.bar .progress-line.port span {
    width: 100%;
}.bar .progress-line.eng span {
    width: 85%;
}.bar .progress-line.esp span {
    width: 30%;
}.bar .progress-line.jap span {
    width: 5%;
}

.bar .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height:0;
    width:0;
    border: .5rem solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
}

.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 1px 8px;
    background:#000;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100%{
        opacity: 1;
    }
}

.bar .progress-line.html span::after {
    content: "90%";
}.bar .progress-line.css span::after {
    content: "75%";
}.bar .progress-line.js span::after {
    content: "65%";
}.bar .progress-line.csharp span::after {
    content: "65%";
}.bar .progress-line.react span::after {
    content: "85%";
}.bar .progress-line.java span::after {
    content: "60%";
}.bar .progress-line.springboot span::after {
    content: "60%";
}

.bar .progress-line.colaboracao span::after {
    content: "90%";
}.bar .progress-line.comu span::after {
    content: "85%";
}.bar .progress-line.pressao span::after {
    content: "85%";
}.bar .progress-line.flexibilidade span::after {
    content: "90%";
}.bar .progress-line.autodidata span::after {
    content: "85%";
}

.bar .progress-line.port span::after {
    content: "100%";
}.bar .progress-line.eng span::after {
    content: "85%";
}.bar .progress-line.esp span::after {
    content: "30%";
}

.info > span {
    font-size: 1rem;
    font-weight: 500;

    opacity: 0;
    animation: showText 0.5s 1.5s linear forwards;
}

@keyframes showText {
    100%{
        opacity: 1;
    }
}
